* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title {
background-color: black;
    color: white;
    text-align: center;
}
#color-palette {
    height: 50px;
    width: 100%;
    border: 1px solid black;
}
#color-palette div {
    border: 1px solid black;
    margin: 3px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}
/* .color {
    
} */
/* #colors1 {
    background-color: #ffcb77;
}
#colors2 {
    background-color: #fe6d73;
}
#colors3 {
    background-color: #17c3b2;
} */
#pixel-board {
    width: 210px;
    height: 225px;
    /* background-color:#d3d0cb; */
    border: 1.5px dotted black;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}
